.events-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
  }
  
  .sliders {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    left: 0;
    transition: all .5s ease-in;
  }
  
  .slider__item {
    padding: 30px;
    margin-right: 100px;
  }

  .slider__item2 {
    padding: 30px;
    margin-right: 100px;
  }

  .slider__item3 {
    padding: 30px;
  }

  .slider__item:hover {
    background-color: #f4f4f7;
  }

  .slider__item2:hover {
    background-color: #f4f4f7;
  }
  
  .slider__item3:hover {
    background-color: #f4f4f7;
  }
  
  .slider-date {
    color: red;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  .slider-info {
    font-weight: 700;
    font-size: 20px;
  }
  
  .slider-btn__more {
    opacity: 0;
  }
  
  .slider-btn__more img{
    margin-top: 40px;
    padding: 15px;
    background: #fff;
    width: 50px;
    border-radius: 50%;
  }
  
  .show-btn {
    opacity: 1;
  }
  
  .slider__btns {
    margin-top: 15px;
    display: flex;
  }
  
  .btn__back img{
    width: 30px;
    transform: rotate(180deg);
    margin-right: 25px;
    cursor: pointer;
  }
  
  .btn__next img{
    width: 30px;
    cursor: pointer;
  }
  
  .event-btn {
    width: 210px;
    margin-top: 80px;
    padding: 15px 45px;
    background: red;
    border-radius: 10px;
  }
  
  .event-btn a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
  }
  
  .event-btn a:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(255,36,0,1);
  }
  
  .event-btn:hover {
    box-shadow: 0 0 20px rgba(255,36,0,1);
  }

  @media screen and (max-width: 1650px) {
      .sliders {
          max-width: 1300px;
      }

      .sliders {
          flex-wrap: wrap;
      }
  }

  @media screen and (max-width: 550px) {
    .events-title {
        font-size: 30px;
    }

    .container-main {
        padding: 150px 150px 250px 100px;
      }
}

@media screen and (max-width: 550px) {
    .container-main {
        
        padding: 150px 150px 100px 50px;
      }
}